@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl mb-4;
}

h3 {
  @apply text-xl mb-4;
}

img {
  transition: opacity 0.3s ease-out;
}

.spinner {
  transform-origin: center;
  animation: spinner_svv2 0.75s infinite linear;
}

@keyframes spinner_svv2 {
  100% {
    transform: rotate(360deg);
  }
}
